fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary
python-dotenv

pydantic
pydantic-settings
python-multipart

sentence-transformers
spacy
nltk
scikit-learn

chromadb

pymupdf
python-docx

numpy
pandas